includes:
    - tools/phpstan/vendor/phpat/phpat/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    scanDirectories:
        - tools/phpunit/vendor

services:
    -
        class: Tests\Architecture\ProductCatalogTest
        tags:
            - phpat.test