includes:
    - tools/phpstan/vendor/phpat/phpat/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    bootstrapFiles:
        - tools/phpunit/vendor/autoload.php

services:
    -
        class: Tests\Architecture\ProductCatalogTest
        tags:
            - phpat.test